:root {
    --primary-background-color: rgb(195, 209, 191);
    --secondary-background-color: rgb(93, 155, 139);
    --main-title-color: rgb(128,151,123);
    --secondary-title-color: rgb(222, 223, 220);
}

body {
    background-color: var(--primary-background-color);
}

/* HEADER STYLE */
.header-main {
    background-color: var(--secondary-title-color);
    background-image: url('../images/montsera-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfp {
    border-radius: 35%;
    padding-top: 3%;
}

#main-title {
    color: var(--main-title-color);
}

.header-nav {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav .link {
    padding: 2vh 3vh;
    color: var(--secondary-title-color);
    text-decoration: none;
    transition: 0.5s;
}

.header-nav .link:hover {
    color: var(--secondary-background-color);
    background-color: var(--secondary-title-color);
}

/* BODY STYLE */
.info {
    display: grid;
    grid-template-columns: 4vw 1fr 4vw;
    grid-template-rows: auto;
}

.section-title, .info-section {
    grid-column: 2 / 3;
    font-family: 'Times New Roman', Times, serif;
}

.progressbars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.skill {
    padding: 20px 40px;
    margin: 10px 20px;
    width: 50%;
    border: 2px solid var(--secondary-background-color);
    border-radius: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: var(--secondary-title-color); */
    transition: color 0.5s;
    position: relative;
    overflow: hidden;
}

.skill::after {
    content: "";
    background-color: var(--secondary-title-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.skill:hover {
    color: var(--secondary-title-color);
}

#js:hover{
    color: black;
}

.skill::before {
    content: "";
    background-color: var(--secondary-background-color);
    border-radius: 23px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
    z-index: -1;
    transform: translateX(-100%);
}

#python::before {
    width: 40%;
}

#git::before {
    width: 60%;
}

#html::before {
    width: 75%;
}

#js::before {
    width: 10%;
}

.skill:hover::before {
    transform: translateX(0)
}



.form-cont {
    margin: 4vh 4vw;
    background-color: var(--secondary-title-color);
    padding: 3px 15px;
}

.form-heading {
    padding-left: 4vw;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#contactform-inside-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.form-section {
    padding: 10px 25% 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-radio-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.radio-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.submit-btn {
    margin: 10px 5vw;
    width: 20vw;
    height: 5vh;
    background-color: var(--primary-background-color);
    border: none;
    border-radius: 25px;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.submit-btn:hover {
    background-color: var(--secondary-background-color);
}

/* FOOTER STYLE */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    background-color: var(--secondary-background-color); 
}



/* ANIMATIONS */


/* @keyframes navbar-hover {
    from {
        background-color: none;  
    }
    to {
        color: var(--secondary-background-color);
        background-color: var(--secondary-title-color);
    }
} */